.Root {
  /* Root container styles if needed */
}

.Input {
  box-sizing: border-box;
  padding-left: var(--spacing-sm);
  padding-right: calc(var(--spacing-xs) + 1.5rem);
  margin: 0;
  border: 1px solid var(--semantic-input-border);
  width: 16rem;
  height: 2.5rem;
  border-radius: var(--border-radius-sm);
  font-family: inherit;
  font-size: var(--font-size-md);
  background-color: var(--semantic-input-bg);
  color: var(--semantic-input-text);

  &:focus {
    outline: 2px solid var(--semantic-input-focus-border);
    outline-offset: -1px;
  }
}

.Label {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  font-size: var(--font-size-sm);
  line-height: 1.25rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-default);
  position: relative;
}

.InputWrapper {
  position: relative;

  &:has(.Clear) .Input {
    padding-right: calc(var(--spacing-xs) + 1.5rem * 2);
  }
}

.ActionButtons {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 2.5rem;
  right: var(--spacing-xs);
  border-radius: var(--border-radius-xs);
  border: none;
  color: var(--color-text-light);
  padding: 0;
}

.Trigger,
.Clear {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 2.5rem;
  color: var(--color-text-light);
  border: none;
  padding: 0;
  border-radius: var(--border-radius-xs);
  background: none;
  cursor: pointer;
}

.ClearIcon,
.TriggerIcon {
  width: 1rem;
  height: 1rem;
}

.Positioner {
  outline: 0;
  z-index: var(--z-index-dropdown);
}

.Popup {
  box-sizing: border-box;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-bg-inverse);
  color: var(--color-text-default);
  width: var(--anchor-width);
  max-height: 23rem;
  max-width: var(--available-width);
  transition: opacity 0.1s, transform 0.1s;
  transform-origin: var(--transform-origin);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-border);
    box-shadow: var(--elevation-2);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-text-light);
    outline-offset: -1px;
  }
}

.List {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-block: var(--spacing-xs);
  scroll-padding-block: var(--spacing-xs);
  outline: 0;
  max-height: min(23rem, var(--available-height));

  &[data-empty] {
    padding: 0;
  }
}

.Item {
  box-sizing: border-box;
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: var(--spacing-xs);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-lg);
  display: grid;
  gap: var(--spacing-xs);
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  font-size: var(--font-size-md);
  line-height: 1rem;

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: var(--color-text-inverse);
  }

  &[data-highlighted]::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: var(--spacing-xs);
    border-radius: var(--border-radius-xs);
    background-color: var(--color-bg-secondary);
  }
}

.ItemText {
  grid-column-start: 2;
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.Empty:not(:empty) {
  font-size: 0.925rem;
  line-height: 1rem;
  color: var(--color-text-light);
  padding: var(--spacing-md);
}

