.Badge {
  --badge-bg: var(--color-bg-secondary);
  --badge-color: var(--color-text-default);
  --badge-border-color: var(--color-border);

  display: inline-flex;
  align-items: center;
  padding: var(--spacing-xxs) var(--spacing-xs);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  border-radius: var(--border-radius-xs);
  line-height: 1;
  background-color: var(--badge-bg);
  color: var(--badge-color);
  border: 1px solid var(--badge-border-color);
}

.BadgeOutline {
  --badge-bg: transparent;
}

.BadgeGold {
  --badge-bg: oklch(85% 0.1 80);
  --badge-color: oklch(30% 0.1 80);
  --badge-border-color: oklch(75% 0.1 80);
}
