.Root {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-xxs);
}

.Input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid var(--semantic-input-border);
  border-bottom: 1px solid var(--semantic-input-border);
  border-left: none;
  border-right: none;
  width: 100%;
  height: 2.5rem;
  font-family: inherit;
  font-size: var(--font-size-md);
  font-weight: normal;
  background-color: transparent;
  color: var(--semantic-input-text);

  text-align: center;
  font-variant-numeric: tabular-nums;

  &:focus {
    z-index: 1;
    outline: 2px solid var(--semantic-input-focus-border);
    outline-offset: -1px;
  }
}

.Increment,
.Decrement {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-xs);
  background-color: var(--color-bg-secondary);
  background-clip: padding-box;
  color: var(--color-text-default);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-bg-secondary);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }
}

.Increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ScrubArea {
  cursor: ew-resize;
  font-weight: bold;
  user-select: none;
}

.Group {
  display: flex;
}
