.Loader {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.LoaderSpinner {
	border-style: solid;
	border-radius: 50%;
	border-top-color: transparent;
	animation: spin 0.8s linear infinite;
}

.LoaderSm {
	width: 1rem;
	height: 1rem;
}

.LoaderSm .LoaderSpinner {
	width: 1rem;
	height: 1rem;
	border-width: 2px;
}

.LoaderMd {
	width: 1.5rem;
	height: 1.5rem;
}

.LoaderMd .LoaderSpinner {
	width: 1.5rem;
	height: 1.5rem;
	border-width: 2.5px;
}

.LoaderLg {
	width: 2rem;
	height: 2rem;
}

.LoaderLg .LoaderSpinner {
	width: 2rem;
	height: 2rem;
	border-width: 3px;
}

.LoaderPrimary .LoaderSpinner {
	border-color: var(--color-primary-default);
	border-top-color: transparent;
}

.LoaderSecondary .LoaderSpinner {
	border-color: var(--color-text-light);
	border-top-color: transparent;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
