.Root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 100%;
  user-select: none;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-default);
  background-color: var(--color-bg-secondary);
  font-size: var(--font-size-md);
  line-height: 1;
  overflow: hidden;
  height: var(--size);
  width: var(--size);
}

.sm {
  --size: 1.5rem;
}

.md {
  --size: 2.5rem;
}

.lg {
  --size: 3.5rem;
}

.Image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Fallback {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: var(--font-size-md);
}
