.card {
  --card-width: 100%;
  width: var(--card-width);

  @media (min-width: 768px) {
    --card-width: 35rem;
  }
}

.budgetMeta {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.memberCount,
.createdDate {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
}

.description {
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
}
