.Container {
  min-height: 100dvh;
  background-color: var(--semantic-app-bg);
  display: flex;
}

.Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ModeToggle {
  margin-left: auto;
}

.MainContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: var(--spacing-lg); */
}

.ContentWrapper {
  width: 100%;
  max-width: 28rem; /* max-w-md */
}

.Footer {
  padding: var(--spacing-lg);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
}
