.SystemLayout {
  display: flex;
  height: 100dvh;
}

.SystemLayoutContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.SystemLayoutContent > main {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
